{% extends "layout/layout.twig" %}

{% block title %}Bienvenue sur SnowTicks{% endblock %}

{% block main %}

    <div class="row">

        <figure class="figure col mx-auto ">

            <img src="./img/hero.png" alt="Snowtricks" class="figure-img img-fluid">
        
        </figure>

    </div>

{% endblock %}