{% extends 'layout/layout.twig' %}

{% block body %}

<div class="main mt-5">
    <h2 class="text-center">S'authentifier</h2>

    <div class="row d-flex">
    
        <form class="col-6 mx-auto" action="{{ path('app_auth_create') }}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Adresse email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ne partagez pas votre mot de passe.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
            
        </form>
        <div class="col d-block">
            <a href="{{ path('app_auth_signup') }}" class="btn btn-primary">
            <button>S'inscrire</button></a>
        </div>

    </div>

</div>
{% endblock %}
