{% extends 'layout/layout.twig' %}

{% block main %}

<div class="main mt-5">

    <h2 class="text-center">{{ title }}</h2>

    <div class="row d-flex">
    
        <form class="col-6 mx-auto" action="{{ path('app_auth_create') }}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Adresse email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ne partagez pas votre mot de passe.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            {% if method == "signup" %}
            
                <div class="mb-3">
                    <label for="userName" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="userName" name="userName" aria-describedby="userName-field">
                    <div id="userName" class="form-text">Ne partagez pas votre mot de passe.</div>
                </div>
                <div class="mb-3">
                    <label for="passwordCheck" class="form-label">Veuillez confirmer le mot de passe</label>
                    <input type="password" class="form-control" id="passwordCheck" name="passwordCheck">
                </div>

            {% endif %}
            

            <button type="submit" class="btn btn-primary">Se connecter</button>
            
        </form>
        <div class="col d-block">
            <a href="" class="btn btn-primary">
            <button>S'inscrire</button></a>
        </div>

    </div>

</div>
{% endblock %}
